<p>Prénom  : <%= @user.first_name %></p>
<br>
<br>
<p>Nom : <%= @user.last_name %></p>
<br>
<br>
<p>Email : <%= @user.email %></p>
<br>
<%= link_to "Editer mon compte", edit_user_path, class: "btn btn-primary" %>
<%= form_for @user, method: :delete do |f| %>
<br>
  <%= f.submit "Supprimer mon compte", class: "btn btn-primary" %>
<% end %>
