<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>THPTestingRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to "Accueil", root_path, id: "logo" %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
        <% if logged_in? %>
            <li><%= link_to "Club", club_path, class:"nav-link" %></li>
            <li><%= link_to "Profile", current_user, class:"nav-link" %></li>
            <li><%= link_to "Log out", logout_path, method: :delete, class:"nav-link" %></li>
        <% else %>
          <li><%= link_to "Log in", login_path, class:"nav-link" %></li>
          <li><%= link_to "Sign up", new_user_path, class:"nav-link"%></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
    <%= yield %>
  </body>
</html>
